*{
    margin: 0;
    padding: 0;
}

#game{
    height: 500px;
    width: 500px;
    background-color: rgb(54, 127, 223);
    border: 1px solid black;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 22px;
}
#block{
    width: 50px;
    border: 1px solid black;
    height: 500px;
    background-image: linear-gradient(to top, rgb(37, 219, 37), rgb(31, 204, 123));
    position: relative;
    left: 500px;
    animation: block  2.5s linear  infinite ;
}
@keyframes block {
    0%{
        left:500px
    }
    100%{
        left: -50px;
    }
    
}
#hole{
    height: 150px;
    width: 55px;
    background-color: rgb(54, 127, 223);
    position: relative;
    left: 500px;
    top:-500px;
    animation: block  2.5s linear   infinite ;
}
#bird{
    position: absolute;
    top: 100px;
    height: 50px;
    width: 50px;
}
#bird img{
    height: 50px;
    width: 50px;
}
#result{
    height: 200px;
    width: 500px;
    background-image: linear-gradient(to top left, rgb(236, 45, 45), rgb(122, 11, 11));
    border: 2px solid white;
    display: none;
    margin: 5rem auto;
    border-radius: 11px;
    text-align: center;
}

#btn{
    border: none;
    border-radius: 11px;
    background-color: rgb(25, 202, 25);
    height: 40px;
    margin-top: 20px;
    width: 90px;
    font-size: large;
    color: white;
    cursor: pointer;
}

#btn:hover{
    transform: scale(1.1,1.1);
}

#text{
    font-size: 2rem;
    color: seashell;
}
